@import "libs/bootstrap__grid";

/* Navigation Menus: Main Navigation */
.main-navigation {
  background-color: #fff;
  border: solid #dfdfdd;
  border-width: 1px 0 1px 0;
  display: block;
  padding: 1.25rem 0;
  position: relative;
  width: 100%;
}

/* Navigation Menus: Primary Menu */
.site-primary-menu {
  margin: 0 auto;
}

/* Essential Styles */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu {
  font-size: 0;
}

.sf-menu li {
  position: relative;
}

.sf-menu ul {
  position: absolute;
  display: none;

  font-size: 1.125rem;
  top: 100%;
  left: 0;
  z-index: 200;
}

.sf-menu > li > ul {
  top: 38px;
  left: -19px;
}

.sf-menu > li {
  display: inline-block;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.sf-menu a {
  display: block;
  position: relative;
}

.sf-menu ul ul {
  top: 0;
  left: 105%;
}

/* Menu Skin */
.sf-menu {
  margin-bottom: 0;
  text-align: center;
}

.sf-menu ul {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 15em;
  /* allow long menu items to determine submenu width */
  max-width: 15em;
  padding: 1.5625rem 2.1875rem;
  text-align: left;
}

/* Anchors */
/* Parent Anchors */
.sf-menu > li > a,
.sf-menu > li > a:visited {
  color: #3d3d3d;
  font-size: 0.9375rem;
  padding: 0 0.9375rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.sf-menu > li > a:hover,
.sf-menu > li > a:focus,
.sf-menu > li > a:active {
  color: #eb684b;
}

/* Child Menu Anchors */
.sf-menu ul a,
.sf-menu ul a:visited {
  color: #020202;

  font-size: 0.9375rem;

  padding: 0.5rem 0;
}

.sf-menu ul a:hover,
.sf-menu ul a:focus,
.sf-menu ul a:active {
  color: #eb684b;
}

.sf-menu ul li:last-child a {
  border-bottom: none;
}

/* Current Item Indicator */
.sf-menu > li.current_page_item > a,
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current_page_ancestor > a,
.sf-menu > li.current-menu-ancestor > a,
.sf-menu > li.current_page_parent > a,
.sf-menu > li.current-menu-parent > a {
  color: #eb684b;
}

.sf-menu > li li.current_page_item > a,
.sf-menu > li li.current-menu-item > a,
.sf-menu > li li.current_page_ancestor > a,
.sf-menu > li li.current-menu-ancestor > a,
.sf-menu > li li.current_page_parent > a,
.sf-menu > li li.current-menu-parent > a {
  color: #eb684b;
}

/* SF Core */
.sf-menu li {
  word-wrap: break-word;
  white-space: normal;
  /* no need for Supersubs plugin */
  -webkit-transition: background .2s;
  transition: background .2s;
}

.sf-menu ul li {
  background: #ffffff;
}

.sf-menu ul ul li {
  background: #ffffff;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}

/* Last & Second Last Child Drop Down Menu Second Level */
.sf-menu > li:last-child > ul,
.sf-menu > li:nth-last-child(2) > ul {
  left: auto;
  right: 0;
}

/* Last & Second Last Child Drop Down Menu Third Level */
.sf-menu > li:last-child > ul ul,
.sf-menu > li:nth-last-child(2) > ul ul {
  left: auto;
  right: 105%;
}

/* Parent Anchors Arrow */
.sf-arrows .sf-with-ul:after {
  content: "\f107";
  color: #bfbfbf;

  font-size: 0.8125rem;
  line-height: 1.7;
  position: absolute;
  top: 0;
  right: 0;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  color: #3d3d3d;
}

/* Child Anchors Arrow */
.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
  color: #bfbfbf;

  font-size: 0.9375rem;
  line-height: 1.7;
  position: absolute;
  top: 8px;
  right: 0;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  color: #3d3d3d;
}

